/* Auth.css */

:root {
    --darkest-color: #323656;
    --dark-color: #424874;
    --light-color:  #677090;
    --lighter-color: #9FABBA;  
    --background-color: #D6E5E3;
  }
  

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: var(--background-color);
    padding: 20px;
    padding-top: 50px;
}

.form-container {
    background: var(--dark-color);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    color: var(--background-color)
}

.form-label {
    margin-bottom: 8px;
    font-weight: bold;
}

.form-input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 93%;
    background-color: var(--lighter-color);
}

.auth-button {
    width: 100%;
    padding: 12px;
    background-color: var(--light-color);
    color: #ddd;
    border: none;
    border: 1px solid var(--darkest-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 12px; /* Added margin for better spacing */
    transition: background-color 0.3s ease;
}

.auth-button:hover {
    background-color: var(--lighter-color); /* Log In button hover color */
}

@media (max-width: 600px) {
    .form-container {
        padding: 16px;
    }
}
